body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fileInputWrapper {
  padding: 20px 0px;
  border-bottom: 2px solid lightgray;
}

label {
  padding-right: 12px;
  font-weight: bold;
}

img {
  width: 350px;
  height: 350px;
  display: block;
  max-width:290px;
  max-height:250px;
  width: auto;
  height: auto;
}

#img-preview {  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fit, 260px);
  grid-auto-flow: dense;
  grid-gap: 0.3rem;
  padding: 20px;
}